.header {
    position: relative;
    padding: 1rem 0;
}

.header h1 {
    text-align: center;
    margin: 20px 0 0;
}

.nav {
    position: absolute;
    top: 0rem;
    right: 0rem;
    display: flex;
    gap: 0.5rem;
}

.active {
    color: gray;
}

.inactive {
    color: black;
}