body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ede7f6;
}

h1,
h2 {
  font-family: Georgia, serif;
}

button {
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
}

input {
  padding: 6px;
}
